.signUpButton {
  margin-top: 100px;
  background-color: #1ed760;
  border: 0;
  border-radius: 50px;
  height: 80px;
  width: 500px;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
}

.signUpButton:hover {
  background-color: #45e17c;
}

.learnMoreButton {
  margin-bottom: 50px;
  background-color: #1e1e1e;
  border: 0;
  border-radius: 50px;
  height: 68px;
  width: 330px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9d9d9;
}

.learnMoreButton:hover {
  background-color: #434343;
}

.buttonWrapper {
  text-decoration: none;
}
