/* Extra small devices (phones, 370px and down) */
@media only screen and (max-width: 370px) {
  .container {
    background-color: #1e1e1e;
    height: 80vh;
    width: 100vw;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTextContainer {
    margin-top: 12vh;
    width: 75vw;
    font-size: 14px;
    text-align: center;
    line-height: 1.25;
  }

  .introTextContainer {
    margin-top: 2vh;
    width: 55vw;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 371px) and (max-width: 600px) {
  .container {
    background-color: #1e1e1e;
    height: 75vh;
    width: 100vw;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTextContainer {
    margin-top: 12vh;
    width: 75vw;
    font-size: 14px;
    text-align: center;
    line-height: 1.25;
  }

  .introTextContainer {
    margin-top: 2vh;
    width: 50vw;
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    background-color: #1e1e1e;
    height: 75vh;
    width: 100vw;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTextContainer {
    margin-top: 10vh;
    width: 75vw;
    font-size: larger;
    text-align: center;
    line-height: 1.25;
  }

  .introTextContainer {
    width: 45vw;
    font-size: 1.75vh;
    text-align: center;
    line-height: 1.75;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    background-color: #1e1e1e;
    height: 85vh;
    width: 100vw;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTextContainer {
    margin-top: 12vh;
    width: 75vw;
    font-size: 2.7vh;
    text-align: center;
    line-height: 1.25;
  }

  .introTextContainer {
    width: 45vw;
    font-size: 2vh;
    text-align: center;
    line-height: 1.75;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    background-color: #1e1e1e;
    height: 85vh;
    width: 100vw;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTextContainer {
    margin-top: 10vh;
    width: 75vw;
    font-size: 2.8vh;
    text-align: center;
    line-height: 1.25;
  }

  .introTextContainer {
    width: 50vw;
    font-size: 2vh;
    text-align: center;
    line-height: 1.75;
  }
}

/* Extra large devices (large laptops and desktops, 1750px and up) */
@media only screen and (min-width: 1750px) {
  .container {
    background-color: #1e1e1e;
    height: 85vh;
    width: 100vw;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleTextContainer {
    margin-top: 9vh;
    width: 75vw;
    font-size: 2.7vh;
    text-align: center;
    line-height: 1.25;
  }

  .introTextContainer {
    width: 40vw;
    font-size: 1.8vh;
    text-align: center;
    line-height: 1.75;
  }
}
